<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Enter Name</title>
        <link rel="stylesheet" href="~/css/FirstPage.css" />
    </head>
    <body>
        <form asp-action="Hello" method="post" class="send-name-form">
            <h2>Enter your name in the following space:</h2>
            <input required type="text" name="Name"/>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>